---
title: GIFs
layout: default
---

{% for folder in site.data.folders %}
	<a href="#" class="btn js-reveal" data-class="{{ folder.name }}">{{ folder.name }}</a> 
{% endfor %}


<div class="grid">
	{% for folder in site.data.folders %}
		{% for image in site.static_files %}
			{% if image.extname contains 'gif' and image.path contains folder.name %}
				<img class="lazy grid-item {{ folder.name }}" data-src="{{ site.baseurl }}{{ image.path }}">
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
