---
---

@import "{{ site.theme }}";

img {
	min-height: 150px;
}

.container {
	max-width: initial !important;
}

.grid {
	text-align: center;
	margin-top: 1em;
}

#filter {
	background: none;
	border: none;
	border-bottom: 1px dashed #b5e853;
	color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
	font-weight: bold;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	padding-bottom: 10px;
}

.btn.active {
	color: #b5e853;
}